.kitchen-image{
    height: 350px;
    margin: 20px 40px;
}
.paragrap-text{
    text-align: justify;
    margin-top: 0px;
    margin-right: 80px;
    font-size: 20px;
}
.number{
    font-size: 60px;
}
.num-text{
    margin: 10px 20px;
}