.service-card{
    background-color:#f25f4c;
    width: 230px;
    margin: 20px;
    padding: 20px;
}
.service-image{
    height: 90px;
    padding: 10px 0px;
}
.img-name{
    font-size: 25px;
}
.para{
    text-align:left;
}
.service-card:hover{
    background-color:bisque;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s;
    border: 1px solid black;
}
.form-container{
    display: flex;
    justify-content: center;  
}
.forn-containt{
    margin: 0px;
    margin-left: 20px;
}
.box{
    padding: 5px;
    margin: 10px;
    background-color: bisque;
}
.form-text{
    font-size: 22px;
    margin-right: 20px;
    color:maroon;
}